*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --blue-dark:#293241;
  --blue-ligth: #bfd7e4;
  --pink: #f67669;
  --white: #ffffff;
}

body{
  font-family: 'Poppins', sans-serif;

  background-color: var(--blue-ligth);
}

.page{
  width: 750px;
  margin: auto;
}

header::before{
  content: '';
  width: 100%;
  height: 465px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: var(--blue-dark);
}

header{
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 107px;

  color: var(--white);
}

header h1{
  font-family: 'Staatliches', sans-serif;
  font-size: 36px;
  font-weight: 400;
}

header p{
  font-size: 16px;
  margin-bottom: 18px;
}


.form-wrapper{
  display: flex;
  flex-direction: column;
  gap: 32px;

  background-color: var(--white);

  border-radius: 0 0 8px 8px;

  padding: 32px 64px;

  margin-bottom: 64px;
}

fieldset{
  border: 0;

  display: flex;
  flex-direction: column;

  gap: 13px;
}

.title{
  height: 138px;
  width: 750px;
  background-color: var(--pink);

  
  font-family: 'Staatliches', sans-serif;
  font-size: 24px;
  line-height: 34px;
  color: var(--white);
  
  margin-top: 32px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 8px 8px 0 0;
}

.col-2{
  display: flex;
  gap: 22px;
}

.col-2 .input-wrapper input,
.col-3 > div:nth-child(1){
  width: 300px;
}

.input-wrapper{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input-wrapper label,
.area-feedback{
  font-size: 14px;
  line-height: 24px;
  color: #4e4958;
}

.input-wrapper span{
  font-size: 12px;
  line-height: 20px;
  color: #c1bccc;

  margin-left: 9px;
}

.input-wrapper input{
  height: 55px;

  border-radius: 8px;
  background-color: #fafafc;
  border: 1px solid #e6e6f0;

  padding: 0 10px;

  font-family: 'Poppins', sans-serif;
}

fieldset legend{
  font-family: 'Staatliches', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  color: #253b51;

  display: flex;
  justify-content: center;
  align-items: center;

  border-bottom: 1px solid #e6e6f0;
  padding-bottom: 8px;
  margin-bottom: 32px;
  width: 100%;
}

select{
  width: 300px;
  height: 55px;

  background-color: #fafafc;
  border: 1px solid #e6e6f0;
  border-radius: 8px;

  padding: 0 10px;

  font-family: 'Poppins', sans-serif;

  cursor: pointer;

  appearance: none;
  -webkit-appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1_54)'%3E%3Cpath d='M8 10L12 14L16 10' stroke='%239C98A6' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_54'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: right 14px top 50%;
}

textarea{
  display: block;
  width: 608px;
  height: 166px;

  background-color: #fafafc;
  border: 1px solid #e6e6f0;
  border-radius: 8px;

  padding: 10px 10px;
  margin-top: 8px;

  font-family: 'Poppins', sans-serif;
}

.checkbox-wrapper{
  position: relative;
}

.checkbox-wrapper input{
  position: absolute;
  top: 0;
  left: 0;
  /* width: 24px;
  height: 24px; */

  opacity: 0;
}

.checkbox-wrapper label{
  font-size: 14px;
  line-height: 24px;
  color: #4e4958;

  display: flex;
  align-items: center;
  gap: 16px;

  margin: 0;
}

.checkbox-wrapper label::before{
  content: '';
  width: 24px;
  height: 24px;
  display: block;

  border: 1px solid #e6e6f0;
  border-radius: 8px;
}

.checkbox-wrapper input:checked + label:before{
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_5037_23)'%3E%3Cpath d='M9 16.17L4.83 12L3.41 13.41L9 19L21 7L19.59 5.59L9 16.17Z' fill='%2342D3FF'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_5037_23'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}

.checkbox-wrapper input:focus + label::before{
  border: 2px solid #000000;
}

.col-3{
  display: flex;

  margin-bottom: 64px;
}


.col-3 > div:nth-child(1){
  margin-right: 32px;
}

.col-3 > div:nth-child(2),
.col-3 > div:nth-child(3){
  width: 140px;
}

.col-3 > div:nth-child(2){
  margin-right: 10px;
}

button{
  margin-bottom: 64px;

  padding: 12.5px 286px;

  font-family: 'Staatliches', sans-serif;
  font-size: 20px;
  line-height: 26px;
  color: var(--white);
  background-color: var(--pink);

  border: #f67669;
  border-radius: 8px;

  cursor: pointer;
}

button:hover{
  background-color: #de6d60;
}