*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  font-size: 62.5%; /*10 px*/

  --text-dark-accent: #7158EF;
  --text-dark: #090039;
  --text-dark-gray: rgba(10, 0, 57, 0.64);
  --bg-light: #ECE9FD;
}

body{
  background-color: var(--bg-light);

  padding: 3.75rem 1.44rem 4.12rem;
  font-family: "Epilogue", sans-serif;
}

main{
  max-width: 20.56rem;
  margin: 0 auto;
}

main div p:first-child{
  font-size: 1rem;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: 1.875px;
  text-transform: uppercase;
  color: var(--text-dark-accent);

  margin-bottom: 1.06rem;
}

main div h1{
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 3rem;
  color: var(--text-dark);

  margin-bottom: 0.94rem;
}

main div h1+ p{
  font-size: 1rem;
  font-weight: 400;
  line-height: 2rem;
  color: var(--text-dark-gray);

  margin-bottom: 2rem;
}

main div a{
  font-size: 1rem;
  font-weight: 400;
  line-height: 2rem;
  color: var(--text-dark);

  text-decoration: none;
}

main div a:hover{
  font-weight: 700;
}

ul{
  list-style: none;

  margin-top: 4.5rem;
}

ul li{
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
  color: var(--text-dark);
  
  max-width: 25.7rem;

  display: flex;
  gap: 3rem;
}

ul li + li{
  margin-top: 3.2rem;
}

ul li span{
  font-size: 4.5rem;
  font-weight: 800;
  line-height: 5rem;
  letter-spacing: -0.12px;
  color: var(--text-dark);
}

@media(min-width: 40em){
  body{
    padding: 8rem;
  }

  main{
    display: flex;
    gap: 7.25rem;

    max-width: 1020px;
  }

  main > div{
    max-width: 484px;
  }

  ul li{
    gap: 4.12rem;
    /* min-width: 200px; */
    max-width: 450px;
    align-items: center;
  }
}