*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
	--color-text_dark: #090038;
	--color-text_dark_accent: #7157ef;
	--color-text_dark_gray: rgba(10, 0, 57, 64%);
	--color-text_light: #ffffff;
	--color-text_light_accent: #7157ef;
	--color-text_light_gray: rgba(255, 255, 255, 64%);
	--color-bg_light: #ece9fc;

  font-size: 62.5%; /* 10px */
}

body{
  background-color: var(--color-bg_light);

  padding: 6.0rem 2.3rem 6.6rem;
  font-size: 1.6rem;
  font-family: "Epilogue", sans-serif;
}

main{
  max-width: 33.0rem;
  margin: 0 auto;
}

main p:first-child{
  color: var(--color-text_dark_accent);
  letter-spacing: 3px;
  text-transform: uppercase;
  line-height: 3.2rem;

  margin-bottom: 1.7rem;
}

h1{
  font-weight: 800;
  font-size: 4.0rem;
  line-height: 4.8rem;
  color: var(--color-text_dark);

  margin-bottom: 1.5rem;
}

h1 + p{
  color: var(--color-text_dark_gray);
  line-height: 3.2rem;

  margin-bottom: 3.2rem;
}

a{
  text-decoration: none;
  color: var(--color-text_dark);
}

a:hover{
  font-weight: 700;
}

ul{
  list-style: none;

  margin-top: 7.2rem;
}

ul li{
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: var(--color-text_dark);

  max-width: 25.7rem;

  display: flex;
  gap: 3.8rem;
}

ul li + li{
  margin-top: 3.2rem;
}

ul li span{
  font-weight: 800;
  font-size: 7.2rem;
  line-height: 8.0rem;
  letter-spacing: -2px;

  color: var(--color-text_dark);
}

/*media queries*/

/*em é uma unidade de medida relativa e nesse caso
equivale a 640px
Ou seja, quando a largura mínima for de 40em(640px),
será aplicado as seguintes propriedades*/
@media(min-width: 700px){
  body{
    padding: 8rem;
  }

  main{
    max-width: 1020px;
    display: flex;
    gap: 10rem;
  }

  main > div{
    max-width: 484px;
  }

  ul li{
    gap: 5.3rem;
    max-width: 450px;
    align-items: center;
  }
}