*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --dark-gray: #2f2e41;
  --light-green: #00bfa6;
  --light-gray: #c2c2c2;
  --white: #ffffff;

}

body{
  font-family: 'JetBrains Mono', monospace;
  background-color: var(--dark-gray);

  min-height: 100vh;
}

#app{
  width: 1000px;
  margin: 0 auto;
  padding-top: 71px;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 100px;
}

ul{
  display: flex;
  align-items: center;
  gap: 64px;

  list-style: none;
}

ul li a{
  text-decoration: none;

  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  color: var(--white);
}

main{
  display: flex;
  justify-content: space-between;
  gap: 64px;
}

main section h1{
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  color: var(--white);

  width: 617px;

}

main section h1 span{
  color: var(--light-green);
}

main section p{
  text-align: center;

  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: var(--light-gray);

  margin: 40px 0;
  width: 604px;
}

main section p span{
  color: var(--light-green);
  font-weight: 700;
}

footer{
  width: 568px;
  margin: 80px auto 0;
  padding-top: 27px;

  border-top: 1px solid var(--light-green);

  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
  color: var(--white);
  text-align: center;
}

#padlock{
  position: fixed;
  bottom: 20px;
  left: 20px;
}